.tq1 {
    width: 100%;
}

.Sidebar-container {
    display: inline-block;
    width: 160px;
}

.TopQuestions-container {
    display: inline-block;
    width: calc(100% - 160px);
}

@media (max-width:768px) {
    .TopQuestions-container {
        width: 100%;
    }
}