.pr1 {
    width: 100%;
}

.Dp {
    display: flex;
    flex-direction: row;
    width: 200px;
}

.Avatar {
    border-radius: 5px;
}

.Username1,
.Logout-btn {
    padding-left: 24px;
    padding-top: 48px;
    font-weight: 600;
}

.pr2 {
    padding-left: 48px;
    padding-top: 48px;
    margin-right: 10px;
}

.Subdiv {
    font-size: 24px;
    font-weight: 400;
}

.Stats {
    display: flex;
    align-items: space-between;
    flex-direction: row;
    align-items: space-between;
    border: 1px solid rgb(214, 217, 220);
    border-radius: 5px;
    padding: 10px;
}

.statss {
    font-size: 14px;
    color: rgb(106, 115, 124);
}

.Badges {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgb(214, 217, 220);
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(248, 249, 249);
    ;
}

.Posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(214, 217, 220);
    border-radius: 5px;
    padding: 100px;
    background-color: rgb(248, 249, 249);
}